<!-- Header -->
<div class="page-header">

  <!-- Title -->
  <div class="fw-bold">Create new</div>
</div>

<div class="card-body d-flex align-items-center justify-content-between">
  <div class="small text-secondary">
    <form [formGroup]="creationForm" (ngSubmit)="save()">
      <div class="mb-3">
        <label for="title" class="form-label">Title:<span style="color: red">*</span></label>
        <input
          required
          type="text"
          class="form-control"
          id="title"
          formControlName="title"
        />
        <div *ngIf="_title?.invalid && (_title?.dirty || _title?.touched)"
             class="alert">

          <div *ngIf="_title?.errors?.['required']" style="color: red">
            Title is required.
          </div>

        </div>
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Date:<span style="color: red">*</span></label>
        <input
          required
          type="date"
          class="form-control"
          id="date"
          formControlName="date"
        />
        <div *ngIf="_date?.invalid && (_date?.dirty || _date?.touched)"
             class="alert">

          <div *ngIf="_date?.errors?.['required']" style="color: red">
            Date is required.
          </div>

        </div>
      </div>
      <div class="mb-3">
        <label for="priority" class="form-label">Priority:<span style="color: red">*</span></label>
        <select required class="form-select" formControlName="priority" id="priority">
          <option value="0">LOW</option>
          <option value="1">NORMAL</option>
          <option value="2">HIGH</option>
        </select>
        <div *ngIf="_priority?.invalid && (_priority?.dirty || _priority?.touched)"
             class="alert">

          <div *ngIf="_priority?.errors?.['required']" style="color: red">
            Priority is required.
          </div>

        </div>
      </div>

      <!-- Todo prev -->
      <div class="mb-3">
      <label>Preview todo</label>
      <div readonly="true" disabled="true"
           [class.done]="creationForm.value.done"
           class="card priority-{{ creationForm.value.priority }}">
        <div class="card-body d-flex align-items-center justify-content-between">
          <div>{{ creationForm.value.title }}</div>
          <div class="small text-secondary">{{ creationForm.value.date | date }}</div>
        </div>
      </div>
      </div>

      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>

  </div>
</div>
